*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #F9F2E7;
}

/* HEADER */
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 12vh;
    background-color: #A44A26;
    box-shadow: 0.0vh 0.07vh 0.9vh ;
}
#barra{
    height: 6vh;
    border-left: 0.01px solid white;
}

.Perfilzinho{
    margin-top: 1px;
}

nav .menu-icon{
    cursor: pointer;
    display: none;
}

nav .logo a{
    font-size: clamp(7%, 6vw, 8vh);
    font-weight: bold;
    color: white;
    text-decoration: none;
    font-family: "Cormorant Garamond", serif;
    font-weight: 600;
    font-style: normal;
    padding-left: 10%;
}

nav ul{
    display: flex;
    list-style: none;
    align-items: center;
}

nav ul li{
    padding: 0 1vh;
}

nav ul li a{
    text-decoration: none;
    font-size: 5vh;
    color: white;
    padding-bottom: 1vh;
    padding-left: 2vh;
    padding-right: 2vh;
    border-bottom: 0.3vh solid transparent;
    font-family: "Urbanist", sans-serif;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
}


nav ul li a:hover{
    transform: scale(1,2);
    border-bottom: 0.3vh solid white;
}

/* COTEUDO */
.container{
    display: flex;
    justify-content: space-evenly;
    margin-top: 8%;
}

.cadastro{
    width: 23%;
    height: 55vh;
    background-color: white;
}

.cadastro a{
    text-decoration: none;
}

.consultas{
    width: 23%;
    height: 55vh;
    background-color: white;
}

.consultas a{
    text-decoration: none;
}

.dados{
    width: 23%;
    height: 55vh;
    background-color: white;
}

.dados a{
    text-decoration: none;
}

.cadastro p{
    font-size: clamp(3%, 3vw, 5vh);
    text-align: center;
    margin-top: 7%;
    font-family: "Urbanist", sans-serif;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
    color: #A44A26;
}

.consultas p{
    font-size: clamp(3%, 3vw, 5vh);
    text-align: center;
    margin-top: 7%;
    font-family: "Urbanist", sans-serif;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
    color: #A44A26;
}

#l1{
    font-size: clamp(3%, 3vw, 4.9vh);
    text-align: center;
    margin-top: 2%;
    font-family: "Urbanist", sans-serif;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
    color: #A44A26;
}

#l2{
    font-size: clamp(3%, 3vw, 5vh);
    text-align: center;
    font-family: "Urbanist", sans-serif;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
    color: #A44A26;
}

.cadastro img{
    width: 80%;
    margin-left: 10%;
    margin-top: 9%;
}

.consultas img{
    width: 80%;
    margin-left: 10%;
    margin-top: 9%;
}

.dados img{
    width: 85%;
    margin-left: 8%;
    margin-top: 5%;
}