* {
    margin: 0;
    padding: 0;
    background-color: #F9F2E7;
}

.titulo {
font-size: clamp(8%, 7vw, 9vh);
font-family: "Urbanist", sans-serif;
font-optical-sizing: auto;
font-weight: 600;
font-style: normal;
padding-left: 10%;
padding-top: 4%;
color: #A34E2D;
}

h5 {
    font-size: clamp(8%, 3vw, 5vh);
    font-family: "Urbanist", sans-serif;
    font-optical-sizing: auto;
    font-weight: 550;
    font-style: normal;
    padding-left: 10%;
    color: #A34E2D;
    padding-top: 1%;
}

.dados {
    padding-top: 1%;
}

.dados p {
    font-size: clamp(8%, 3vw, 5vh);
    width: 80%;
    height: 8vh;
    background-color: #A34E2D;
    margin-left: 10%;
    color: white;
    padding-top: 1%;
    padding-left: 1%;
    font-family: "Urbanist", sans-serif;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
}

.botao {
    font-size: clamp(8%, 3vw, 5vh);
    border: none;
    background-color: #A34E2D;
    color: white;
    margin-top: 2%;
    margin-left: 80%;
    width: 15%;
    height: 10vh;
    margin-bottom: 5%;
    cursor: pointer;
}