*{
    background-color: #F9F2E7;
    margin: 0;
    padding: 0;
}

/* CONSULTAS */
.container{
    width: 100%;
    height: 12vh;
    background-color: #A44A26;
    box-shadow: 0.0vh 0.07vh 0.9vh ;
}

.container h1{
    background-color: #A44A26;
    color: white;
    font-family: "Urbanist", sans-serif;
    display: flex;
    justify-content: center;
    font-size: 6.3vh;
    padding: 1.6vh;
}

/* CARDS */
/* rafa */
.card_rafa {
    --bg-color: #da8403;
    --bg-color-light: #f5dbb5;
    --text-color-hover: #fff;
    --box-shadow-color: #a76503;
}

.card_rafa img{
    width: 100%; 
    height: 100%;
    z-index: 1000;
    background-color: transparent;
}

.card_rafa{
    width: 17%;
    height: 55vh;
    background: #fff;
    border-radius: 2vh;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    box-shadow: 0 14px 26px rgba(0, 0, 0, 0.04);
    transition: all 0.3s ease-out;
    text-decoration: none;
    float: left;
    margin: 8%;
}

.card_rafa:hover {
    transform: translateY(-5px) scale(1.005) translateZ(0);
    box-shadow: 0 24px 36px rgba(0, 0, 0, 0.11),
    0 24px 46px var(--box-shadow-color);
}

.card_rafa:hover .overlay {
    transform: scale(10) translateZ(0);
}

.card_rafa:hover .circle {
    border-color: var(--bg-color-light);
    background: var(--bg-color);
}

.card_rafa:hover .circle:after {
    background: var(--bg-color-light);
}

.card_rafa:hover p{
    color: white;
}

.card_rafa p {
    font-size: 17px;
    color: #000;
    margin-top: 10%;
    z-index: 1000;
    background-color: transparent;
}

.card_rafa p a{
    text-decoration: none;
    color: #000;
    background-color: transparent;
}

.card_rafa:hover p a{
    color: var(--text-color-hover);
}

/* bruna */
.card_bruna {
    --bg-color: #da8403;
    --bg-color-light: #f5dbb5;
    --text-color-hover: #fff;
    --box-shadow-color: #a76503;
}

.card_bruna img{
    width: 100%;
    height: 100%;
    z-index: 1000;
    background-color: transparent;
}

.card_bruna{
    width: 17%;
    height: 55vh;
    background: #fff;
    border-radius: 2vh;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    box-shadow: 0 14px 26px rgba(0, 0, 0, 0.04);
    transition: all 0.3s ease-out;
    text-decoration: none;
    float: left;
    margin: 8%;
}

.card_bruna:hover {
    transform: translateY(-5px) scale(1.005) translateZ(0);
    box-shadow: 0 24px 36px rgba(0, 0, 0, 0.11),
    0 24px 46px var(--box-shadow-color);
}

.card_bruna:hover .overlay {
    transform: scale(10) translateZ(0);
}

.card_bruna:hover .circle {
    border-color: var(--bg-color-light);
    background: var(--bg-color);
}

.card_bruna:hover .circle:after {
    background: var(--bg-color-light);
}

.card_bruna:hover p{
    color: var(--text-color-hover);
}

.card_bruna p {
    font-size: 17px;
    color: #000;
    margin-top: 10%;
    z-index: 1000;
    background-color: transparent;
}

.card_bruna p a{
    text-decoration: none;
    color: #000;
    background-color: transparent;
}

.card_bruna:hover p a{
    color: var(--text-color-hover);
}

/* arthur */
.card_arthur {
    --bg-color: #da8403;
    --bg-color-light: #f5dbb5;
    --text-color-hover: #fff;
    --box-shadow-color: #a76503;
}

.card_arthur img{
    width: 100%;
    height: 100%;
    z-index: 1000;
    background-color: transparent;
}

.card_arthur{
    width: 17%;
    height: 55vh;
    background: #fff;
    border-radius: 2vh;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    box-shadow: 0 14px 26px rgba(0, 0, 0, 0.04);
    transition: all 0.3s ease-out;
    text-decoration: none;
    float: left;
    margin: 8%;
}

.card_arthur:hover {
    transform: translateY(-5px) scale(1.005) translateZ(0);
    box-shadow: 0 24px 36px rgba(0, 0, 0, 0.11),
    0 24px 46px var(--box-shadow-color);
}

.card_arthur:hover .overlay {
    transform: scale(10) translateZ(0);
}

.card_arthur:hover .circle {
    border-color: var(--bg-color-light);
    background: var(--bg-color);
}

.card_arthur:hover .circle:after {
    background: var(--bg-color-light);
}

.card_arthur:hover p {
    color: var(--text-color-hover);
}

.card_arthur p {
    font-size: 17px;
    color: #000;
    margin-top: 10%;
    z-index: 1000;
    background-color: transparent;
}

.card_arthur p a{
    text-decoration: none;
    color: #000;
    background-color: transparent;
}

.card_arthur:hover p a{
    color: var(--text-color-hover);
}

.circle {
    width: 131px;
    height: 131px;
    border-radius: 50%;
    background: #fff;
    border: 2px solid var(--bg-color);
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    z-index: 1;
    transition: all 0.3s ease-out;
}

.circle:after {
    content: "";
    width: 118px;
    height: 118px;
    display: block;
    position: absolute;
    background: var(--bg-color);
    border-radius: 50%;
    top: 7px;
    left: 7px;
    transition: opacity 0.3s ease-out;
}

.circle svg {
    z-index: 10000;
    transform: translateZ(0);
}

.overlay {
    width: 12vh;
    position: absolute;
    height: 12vh;
    border-radius: 50%;
    background: var(--bg-color);
    top: 30%;
    left: 30%;
    z-index: 0;
    transition: transform 0.3s ease-out;
}