*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #ffffff;
}

/* HEADER */
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 12vh;
    background-color: #A44A26;
    box-shadow: 0.0vh 0.07vh 0.9vh ;
}
#barra{
    height: 6vh;
    border-left: 0.01px solid white;
}

.Perfilzinho{
    margin-top: 1px;
}

nav .menu-icon{
    cursor: pointer;
    display: none;
}

nav .logo a{
    font-size: clamp(7%, 6vw, 8vh);
    font-weight: bold;
    color: white;
    text-decoration: none;
    font-family: "Cormorant Garamond", serif;
    font-weight: 600;
    font-style: normal;
    padding-left: 10%;
}

nav ul{
    display: flex;
    list-style: none;
    align-items: center;
}

nav ul li{
    padding: 0 1vh;
}

nav ul li a{
    text-decoration: none;
    font-size: 5vh;
    color: white;
    padding-bottom: 1vh;
    padding-left: 2vh;
    padding-right: 2vh;
    border-bottom: 0.3vh solid transparent;
    font-family: "Urbanist", sans-serif;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
}


nav ul li a:hover{
    transform: scale(1,2);
    border-bottom: 0.3vh solid white;
}


/* CONTEUDO */
h1{
    font-family: "Cormorant Garamond", serif;
    font-size: clamp(6%, 6vw, 10vh);
    color: #E78B00;
    margin-top: 3%;
    margin-left: 2%;
}

.diam{
    margin-top: 3%;
    width: 100%;
    height: 15vh;
    background-color: #D9D9D9;
    border-bottom: 0.4vh solid #545454;
    display: flex;
}

p{
    font-size: clamp(5%, 5vw, 6vh);
    margin-left: 3%;
    align-self: center;
}

#img1{
    width: 5.8%;
    height: 80%;
    align-self: center;
    margin-left: 1.8%;
}

#img2{
    width: 5%;
    height: 70%;
    align-self: center;
    margin-left: 41.5%;
}

.horam{
    display: flex;
}

.horaim{
    width: 20%;
    height: 15vh;
    background-color: #D9D9D9;
    border-bottom: 0.4vh solid #545454;
    border-right: 0.4vh solid #545454;
    display: flex;
}

.horaim img{
    width: 65%;
    /* height: 80%; */
    align-self: center;
    margin-left: 17.5%;
}

.nomem{
    width:60%;
    height: 15vh;
    background-color: #D9D9D9;
    border-bottom: 0.4vh solid #545454;
    border-right: 0.4vh solid #545454;
    display: flex;
}

.horariom{
    width: 30%;
    height: 15vh;
    background-color: #D9D9D9;
    border-bottom: 0.4vh solid #545454;
    border-right: 0.4vh solid #545454;
    display: flex;
}

.horariom p{
    margin-left: 20%;
}

.doutoram{
    width: 100%;
    height: 15vh;
    background-color: #D9D9D9;
    border-bottom: 0.4vh solid #545454;
    display: flex;
}

.espacom{
    width: 100%;
    height: 15vh;
    background-color: #D9D9D9;
    border-bottom: 0.4vh solid #545454;
    display: flex;
}

#consuti{
    margin-top: 10%;
}

.diac{
    margin-top: 3%;
    width: 100%;
    height: 15vh;
    background-color: #D9D9D9;
    border-bottom: 0.4vh solid #545454;
    display: flex;
}

#img3{
    width: 5.8%;
    height: 80%;
    align-self: center;
    margin-left: 1.8%;
}

#img4{
    width: 5%;
    height: 70%;
    align-self: center;
    margin-left: 41.5%;
}

.horac{
    display: flex;
}

.horaimc{
    width: 20%;
    height: 15vh;
    background-color: #D9D9D9;
    border-bottom: 0.4vh solid #545454;
    border-right: 0.4vh solid #545454;
    display: flex;
}

.horaimc img{
    width: 65%;
    align-self: center;
    margin-left: 17.5%;
}

.nomec{
    width:60%;
    height: 15vh;
    background-color: #D9D9D9;
    border-bottom: 0.4vh solid #545454;
    border-right: 0.4vh solid #545454;
    display: flex;
}

.horarioc{
    width: 30%;
    height: 15vh;
    background-color: #D9D9D9;
    border-bottom: 0.4vh solid #545454;
    border-right: 0.4vh solid #545454;
    display: flex;
}

.horarioc p{
    margin-left: 20%;
}

.doutorac{
    width: 100%;
    height: 15vh;
    background-color: #D9D9D9;
    border-bottom: 0.4vh solid #545454;
    display: flex;
}

.espacoc{
    width: 100%;
    height: 15vh;
    background-color: #D9D9D9;
    border-bottom: 0.4vh solid #545454;
    display: flex;
}

.botao{
    width: 16%;
    height: 11vh;
    background-color: #A34E2D;
    margin-top: 10%;
    margin-left: 80%;
    margin-bottom: 7%;
    display: flex;
}

#voltar{
    font-size: clamp(3%, 4vw, 6vh);
    margin-top: 5%;
    margin-left: 25%;
    text-decoration: none;
    color: white;
    font-family: "Urbanist", sans-serif;
}

a{
    text-decoration: none;
    color: black;
}