body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

/* HEADER */
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 12vh;
    background-color: #A44A26;
    box-shadow: 0.0vh 0.07vh 0.9vh ;
}
#barra{
    height: 6vh;
    border-left: 0.01px solid white;
}

.Perfilzinho{
    margin-top: 1px;
}

nav .menu-icon{
    cursor: pointer;
    display: none;
}

nav .logo a{
    font-size: clamp(7%, 6vw, 8vh);
    font-weight: bold;
    color: white;
    text-decoration: none;
    font-family: "Cormorant Garamond", serif;
    font-weight: 600;
    font-style: normal;
    padding-left: 10%;
}

nav ul{
    display: flex;
    list-style: none;
    align-items: center;
}

nav ul li{
    padding: 0 1vh;
}

nav ul li a{
    text-decoration: none;
    font-size: 5vh;
    color: white;
    padding-bottom: 1vh;
    padding-left: 2vh;
    padding-right: 2vh;
    border-bottom: 0.3vh solid transparent;
    font-family: "Urbanist", sans-serif;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
}


nav ul li a:hover{
    transform: scale(1,2);
    border-bottom: 0.3vh solid white;
}

.Perfilzinho{
    margin-top: 15%;
    width: 5.5vh;
}

/* CONTEUDO */
.card {
    width: 45%;
    height: 52vh;
    margin: 0% auto;
    background-color: #fff; 
    box-shadow: 0 0.5vh 3vh #c9c9c9;
    border-radius: 2vh;
    font-family: "Urbanist", sans-serif;
    margin-left: 5%;
    margin-top: -28%;
}

.card-header {
    background-color: #7B2E0F;
    color: #fff;
    padding: 3vh;
    text-align: center;
    border-radius: 2vh 2vh 0 0;
}

.card-header h2 {
    margin: 0;
    font-size: 5vh;
    background-color: transparent;
}

.card-body {
    padding: 2vh;
    background-color: transparent;
}

.card-body p {
    margin: 0;
    font-size: 3.6vh;
    background-color: transparent;
    text-align: justify;
    line-height: 6vh;
    margin-left: 3%;
}

.card-body b{
    background-color: transparent;
    color: #66250b;
}

.card-footer{
    margin-top: 1%;
}

.card-footer a{
    font-family: "Urbanist", sans-serif;
    color: #4BBCEC;
    margin-left: 40%;
    text-decoration: none;
    font-size: 3vh;
}

/* LOGO */
.logo img{
    width: 30%;
    margin-left: 60%;
    margin-top: 5%;
}

/* RODAPÉ */
footer{
    background-color: #F9F2E7;
    background: linear-gradient(to top, #F9F2E7, #F9F2E7, #F9F2E7, #F9F2E7, #F9F2E7, #F9F2E7, #F9F2E7, white);
    height: 280vh
    width: 100%;
    margin-top: 5%;
}

.container2{
    display: flex;
}

.container3{
    margin-top: 5%;
    width: 120%;
}

.contact-info{
    display: flex;
    margin-right: 5%;
    flex-direction: column;
    text-align: justify;
}

.contact-info img{
    width: 15%;
}

.contact-info a{
    margin-left: 4%;
    color: #7B2E0F;
    font-size: 2.5vh;
    text-decoration: none;
    font-family: "Urbanist", sans-serif;
}

.zap{
    width: 45%;
}

.email{
    width: 20%;
}

.local{
    width: 35%;
}

footer .boxs{
    display: flex;
    margin-left: -100px;
}

.boxs p{
    color: #7B2E0F;
    text-align: justify;
    font-size: 3.8vh;
    margin-top: 13%;
    width: 86%;
    font-family: "Urbanist", sans-serif;
}

.boxs a{
    list-style: none;
    cursor: pointer;
    color: #7B2E0F;
    font-size: clamp(3%, 2vw, 3vh);
    line-height: 1;
    text-decoration: none;
    font-family: "Urbanist", sans-serif;
}

.container4{
    margin-left: 0;
    margin-right: 0;
}