*{
    background-color: #F9F2E7;
}

.prontuario{
    font-family: "Urbanist", sans-serif;
    font-size: clamp(3%, 4vw, 5vh);
    color: #A44A26;
    margin-left: -20%;
    margin-top: -15%;
}

body{
    background-color: #A44A26;
    margin-left: 20%;
    width: 60%;
    height: 50vh;
    margin-top: 12%;
}

#diagnosticoPrincipal{
    background-color: #ffffff;
    color: #C46139;
    outline-color: #c5c5c5;
    box-shadow: 0 1vh #ffbfa6;
    border-radius: 1vh;
    width: 77%;
    height: 50vh;
    margin-left: 10%;
    font-size: clamp(3%, 4vw, 3vh);
}

.diagnostico{
    margin-left: 10%;
    margin-top: -5%;
    background-color: transparent;
}

#diagnostico{
    background-color: #A44A26;
}

    .escritape {
        font-family: "Urbanist", sans-serif;
        font-size: clamp(3%, 4vw, 3.7vh);
        margin-top: 2%;
        margin-bottom: 1%;
         /* fundo */
        background-color: #A44A26;
        width: 60%;
    }
    
    .caixas{
        display: flex;
        flex-direction: column;
        margin-top: -5%;
        color: #ffffff;
         /* fundo */
        background-color: #A44A26;
        margin-left: 0%;
        width: 100%;
        height: 70vh;
    }

    #blocol {
        margin-top: 10vh;
         /* fundo */
        background-color: #A44A26;
        width: 60%;
    }

    /* Botão de Voltar */
.botao {
    background-color: #A34E2D;
    font-size: clamp(8%, 1.5vw, 3.5vh);
    border-radius: 1vh;
    color: white;
    height: 7vh;
    width: 10%;
    cursor: pointer;
    border: none;
    position: absolute;
    margin-top: -3.5%;
    margin-left: 63%;
}