* {
    margin: 0;
    padding: 0;
    background-color: #F9F2E7;
}

h5 {
    font-size: clamp(8%, 5vw, 7vh);
    font-family: "Urbanist", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
    background-color: #A34E2D;
    height: 13vh;
    color: white;
    text-align: center;
    padding-top: 3vh;
}
.container1 {
    width: 100%;
    height: 10vh;
    background-color: #CFCFCF;
    border-bottom: 0.5vh solid gray;
}
.consulta1 {
    align-items: center;
}
#nome {
    width: 35%;
    height: 7vh;
    font-size: clamp(8%, 4vw, 6vh);
    font-family: "Urbanist", sans-serif;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
    display: inline-block;
    background-color: transparent;
    padding-left: 1%;
}
#data {
    width: 9%;
    height: 7vh;
    font-size: clamp(8%, 4vw, 6vh);
    font-family: "Urbanist", sans-serif;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
    display: inline-block;
    text-align: center;
    background-color: transparent;
    border-left: 0.5vh solid gray;
}

#hora {
    width: 9%;
    height: 7vh;
    font-size: clamp(8%, 4vw, 6vh);
    font-family: "Urbanist", sans-serif;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
    display: inline-block;
    text-align: center;
    background-color: transparent;
    border-left: 0.5vh solid gray;
}

#medica {
    width: 34%;
    height: 7vh;
    font-size: clamp(8%, 4vw, 6vh);
    font-family: "Urbanist", sans-serif;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
    display: inline-block;
    background-color: transparent;
    border-left: 0.5vh solid gray;
    padding-left: 1%;
}
#imagem {
    display: inline-block;
    background-color: transparent;
    width: 6%;
}
#imagem img{
    width: 40%;
    align-items: center;
    background-color: transparent;
    padding-top: 15%;
}

.container2 {
    width: 100%;
    height: 10vh;
    background-color: #CFCFCF;
}
.consulta2 {
    align-items: center;
}
#nome2 {
    width: 35%;
    height: 7vh;
    font-size: clamp(8%, 4vw, 6vh);
    font-family: "Urbanist", sans-serif;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
    display: inline-block;
    background-color: transparent;
    padding-left: 1%;
}
#data2 {
    width: 9%;
    height: 7vh;
    font-size: clamp(8%, 4vw, 6vh);
    font-family: "Urbanist", sans-serif;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
    display: inline-block;
    text-align: center;
    background-color: transparent;
    border-left: 0.5vh solid gray;
}

#hora2 {
    width: 9%;
    height: 7vh;
    font-size: clamp(8%, 4vw, 6vh);
    font-family: "Urbanist", sans-serif;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
    display: inline-block;
    text-align: center;
    background-color: transparent;
    border-left: 0.5vh solid gray;
}

#medica2 {
    width: 34%;
    height: 7vh;
    font-size: clamp(8%, 4vw, 6vh);
    font-family: "Urbanist", sans-serif;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
    display: inline-block;
    background-color: transparent;
    border-left: 0.5vh solid gray;
    padding-left: 1%;
}
#imagem2 {
    display: inline-block;
    background-color: transparent;
    width: 6%;
}
#imagem2 img{
    width: 40%;
    align-items: center;
    background-color: transparent;
    padding-top: 15%;
}

.canceladas {
    margin-top: 10%;
}

.container3 {
    width: 100%;
    height: 10vh;
    background-color: #CFCFCF;
}
.consulta3 {
    align-items: center;
}
#nome3 {
    width: 35%;
    height: 7vh;
    font-size: clamp(8%, 4vw, 6vh);
    font-family: "Urbanist", sans-serif;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
    display: inline-block;
    background-color: transparent;
    padding-left: 1%;
    padding-top: 1%;
}
#data3 {
    width: 9%;
    height: 7vh;
    font-size: clamp(8%, 4vw, 6vh);
    font-family: "Urbanist", sans-serif;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
    display: inline-block;
    text-align: center;
    background-color: transparent;
    border-left: 0.5vh solid gray;
}

#hora3 {
    width: 9%;
    height: 7vh;
    font-size: clamp(8%, 4vw, 6vh);
    font-family: "Urbanist", sans-serif;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
    display: inline-block;
    text-align: center;

    background-color: transparent;
    border-left: 0.5vh solid gray;
}

#medica3 {
    width: 34%;
    height: 7vh;
    font-size: clamp(8%, 4vw, 6vh);
    font-family: "Urbanist", sans-serif;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
    display: inline-block;
    background-color: transparent;
    border-left: 0.5vh solid gray;
    padding-left: 1%;
}

.botao1 {
    font-size: clamp(8%, 4vw, 6vh);
    background-color: #A34E2D;
    border: none;
    color: white;
    width: 15%;
    height: 10vh;
    margin-top: 5%;
    margin-left: 5%;
    margin-bottom: 5%;
    cursor: pointer;

}

.botao2 {
    font-size: clamp(8%, 4vw, 6vh);
    background-color: #A34E2D;
    border: none;
    color: white;
    width: 25%;
    height: 10vh;
    margin-top: 5%;
    margin-left: 50%;
    margin-bottom: 5%;
    cursor: pointer;
}

a{
    text-decoration: none;
}